*.class
*.jar
*.swp
target
classes
*.bak
*.txt
*.html
*.html.xml
*.*~
.idea
*.iml
xml
tmp
src/test/clojure/taharoa.xml
src/test/clojure/taharoa/models
src/test/clojure/waimea
src/main/java/waimea
src/main/clojure/Stock.xml
src/main/clojure/dbcp.properties
src/main/clojure/haleakala.xml
src/main/clojure/log4j.properties
src/main/clojure/mybatis.conf.xml
*.log*
html/
.gradle/
build/
dist/


